@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


/* Navbar -------------------------- */
nav.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(112, 100, 99);
    border-radius: 5px;
}

nav.top-nav div.left div{
    font-size: 3rem;
}

/* Content Holder------------------------*/
div.content-holder{
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 5px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    min-height: 35vw;
}

/* Home ----------------------------------*/
div.home{
    padding: 10px;
}

div.home h6{
    text-align: center;
}

div.home-photo img{
    display: block;
    margin: auto;
    border-radius: 5px;
}

/* Detail---------------------------- */

/* Result Node */

div.detail{
    padding: 10px;
}

div.result-container{
    margin: 30px;
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
}

div.result-container button{
    margin: 10px;
}

div.card img{
    background-size: cover;
}

div.card p{
    text-align: center;
}

div.card {
    border: 1px solid black;
    padding: 10px;

    margin: 10px;
}

div.result:hover{
    transform: scale(1.15);
    z-index: 5;
}

/* Trying modal again */
div.modal_ ul{
    list-style: none;
}

.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.modal_{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Fav result  */
div.fav{
    margin: 30px;
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
}

div.fav button{
    margin: 10px;
}

@media screen and (max-width : 768px){

    nav.top-nav div.left div{
        font-size: 1.3rem;
    }

    nav.top-nav div.right button{
        font-size: small;
    }

    div.home img{
        width: 90%;
    }

    div.result-container{
        margin: 30px;
        margin-top: 50px;
    
        display: flex;
        justify-content: space-between;
    }

    div.result{
        /* background-color: red; */
        max-width: 100px !important;
        font-size: 0.75rem;
    }

    div.result button{
        font-size: xx-small;
    }
}

input {
    background: 0;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    width: 80vw;
    max-width: 400px;
    font-size: 1.5em;
    transition: padding 0.3s 0.2s ease;
}


